body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}
.block {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  scale: 110%;
}
.inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 230px;
}
.profile-pic {
  border-radius: 40px;
  height: 60px;
  margin-top: 10px;
}
.jessica {
  color: aliceblue;
  font-size: 18px;
  margin-top: 20px;
  font-family: firstFont;
  font-weight: normal;
}
.london {
  color: hsl(75, 94%, 57%);
  margin-top: 5px;
  font-size: 10px;
  font-family: firstFont;
  font-weight: bold;
}
.front {
  color: hsl(0, 0%, 61%);
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: firstFont;
  font-weight: 800;
}
.button{
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  padding:10px 50px;
  border: none;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  font-weight: 500;
  font-family: firstFont;
  width: 200px;
  text-align: center;
  font-family: firstFont;
}
.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  font-weight: 500;
  cursor: pointer;
}
@font-face {
  font-family: firstFont;
  src: url(Inter-Regular.ttf);
}